mixin automation(data)

  section.automation.section(class!=attributes.class)
    .container
      .automation__wrapper.card.flex
        .automation__content.flex__content
          h2.title Work smarter with powerful automation
          p.text Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia laoreet augue luctus magna dolor luctus and egestas sapien egestas vitae nemo volute
          button.automation__button.btn.btn--icon
              +icon("icon-people", 33, 33)
              span.automation__button-text
                span Send Group Messages
                span to your lists of contacts
          button.automation__button.btn.btn--icon
              +icon("icon-coin", 33, 33)
              span.automation__button-text
                span Lowest Data Usage
                span with Encrypted Messaging
        .automation__img.flex__img
          +icon("automation", 470, 528)


