mixin chatting(data)

  -
    const chattingData = [
      {
        icon: 'icon-message',
        title: 'Text, Voice & Video Calls',
        text: 'Ligula risus auctor tempus dolor feugiat undo lacinia purus lipsum quaerat primis ultrice tellus and viverra purus suscipit'
      },
      {
        icon: 'icon-smile',
        title: 'Stickers, Emojis, Themes',
        text: 'Ligula risus auctor tempus dolor feugiat undo lacinia purus lipsum quaerat primis ultrice tellus and viverra purus suscipit'
      },
      {
        icon: 'icon-shield',
        title: 'Spam Protection',
        text: 'Ligula risus auctor tempus dolor feugiat undo lacinia purus lipsum quaerat primis ultrice tellus and viverra purus suscipit'
      },
    ];

  section.chatting.section(class!=attributes.class)
    .container
      .chatting__wrapper.card.flex
        ul.chatting__list.flex__content
          each item in chattingData
            li.chatting__item
              +icon(item.icon, 57, 57)
              h3.title.title--sm= item.title
              p.text= item.text
        .chatting__img.flex__img
          +icon("chatting", 524, 521)


