mixin favourite(data)

  section.favourite.section(class!=attributes.class)
    .container
      .favourite__wrapper.card.flex
        .favourite__content.flex__content
          h2.title Keep your favourite people close to you
          p.text Fringilla risus, luctus mauris orci auctor euismod iaculis luctus magna purus pretium ligula purus undo quaerat tempor sapien rutrum mauris quaerat ultrice
          p.text Quaerat sodales sapien euismod purus blandit
          p.text Nemo ipsam egestas volute turpis dolores undo ultrice aliquam quaerat at sodales sapien purus
        .favourite__img.flex__img
          +icon('favorite', 441, 432)
