mixin intro()
  section.intro(class!=attributes.class)
    .intro__bg
      .intro__bg-img
        +picture("content", "intro-bg", "png", 1440, 716, "bg")
    .container.container--sm
      .intro__wrapper.flex
        .intro__content.flex__content
          h1.title Share text, voice, photos, videos and GIFs files for free
          p.text Feugiat primis a ligula undo auctor mauris auctor laoreet and pretium augue an egestas cubilia
          .intro__btns
            a.intro__link.btn.btn--colored(href='#') Learn More
            button.intro__button.btn.btn--icon
              +icon("icon-video", 21, 25)
              span See OLMO in Action
          p.addition
            span 14 days free trial
            span.addition__decor |
            span No credit card
        .intro__img.flex__img
          +icon("intro", 434, 474)
