mixin moments()
  section.moments.section(class!=attributes.class)
    .container.container--sm
      h2.title.title--main Share Moments. Share Life.
      p.text.text--main Aliquam a&nbsp;augue suscipit, luctus neque purus ipsum neque dolor primis a&nbsp;libero tempus, blandit and cursus varius and magnis sapien
      .moments__img
          +icon('moments', 1008, 555)
      a.moments__link.btn.btn--colored(href='#') See OLMO in Action
      p.addition
        span Free 30 days trial
        span.addition__decor |
        span Exclusive Support
        span.addition__decor |
        span No Fees
