mixin pricing(data)
  section.pricing.section(class!=attributes.class)
    .container
      .pricing__wrapper.flex
        .pricing__img.flex__img
          +picture("content", "pricing", "png", 544, 590, "price")
        .pricing__content.flex__content
          h2.title Make it simpler with Quick Commands
          p.text Fringilla risus, luctus mauris orci auctor euismod iaculis luctus magna purus pretium ligula purus undo quaerat tempor sapien rutrum mauris quaerat ultrice
          p.text Quaerat sodales sapien euismod purus blandit
          p.text Nemo ipsam egestas volute turpis dolores undo ultrice aliquam quaerat at sodales sapien purus
          button.pricing__button.btn.btn--colored let&rsquo;s Get Started
          button.pricing__button.btn.btn--bordered View Pricing


