mixin security()
  section.security.section(class!=attributes.class)
    .container.container--sm
      h2.title.title--main Security, Simplicity, Easiness
      p.text.text--main Aliquam a&nbsp;augue suscipit, luctus neque purus ipsum neque dolor primis a&nbsp;libero tempus, blandit and cursus varius and magnis sapien
      .security__wrapper.flex
        .security__img.flex__img
          +icon('verification', 501, 515)
        .security__content.flex__content
          h3.title.title--sm Chat with your friends easily
          p.text Quaerat sodales sapien euismod blandit at&nbsp;vitae ipsum primis undo and cubilia laoreet augue and luctus magna dolor luctus at&nbsp;egestas sapien vitae nemo egestas volute and turpis dolores aliquam quaerat sodales a&nbsp;sapien
          h3.title.title--sm Advanced performance made easy
          p.text Fringilla risus, luctus mauris auctor euismod an&nbsp;iaculis luctus magna purus pretium ligula purus and quaerat
          p.text Nemo ipsam egestas volute turpis dolores undo ultrice aliquam quaerat at&nbsp;sodales sapien purus
          .app-btns
            a.app-btns__link.btn(href='#')
              +img('content', 'appStore', 'png', 131, 41)
            a.app-btns__link.btn(href='#')
              +img('content', 'googlePlay', 'png', 131, 41)

