mixin share()
  section.share.section(class!=attributes.class)
    .container.container--md
      .share__wrapper.flex
        .share__img.flex__img
          +icon("share", 514, 450)
        .share__content.flex__content
          h1.title Share files, media, and locations
          p.text Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia laoreet augue luctus magna dolor luctus and egestas sapien egestas vitae nemo volute
          p.text Quaerat sodales sapien euismod blandit at vitae ipsum primis undo and cubilia laoreet augue and luctus magna dolor luctus at egestas sapien vitae nemo egestas volute and turpis dolores aliquam quaerat sodales a sapien

