mixin stories(data)

  section.stories.section(class!=attributes.class)
    .container
      .stories__wrapper.card
        .stories__content
          h2.title.title--main Stories From Our Customers
          p.text.text--main Aliquam a&nbsp;augue suscipit, luctus neque purus ipsum neque dolor primis a&nbsp;libero tempus, blandit and cursus varius and magnis sapien
        .stories__img
          +icon('stories', 747, 392)
