mixin users(data)

  section.users.section(class!=attributes.class)
    .container
      .users__wrapper
        h2.title.title--main Discover powerful features to&nbsp;boost your productivity
        .users__img
          +icon('users', 572, 548)
        .card
          .col.col--1
            h3.title.title--sm More than 65,000 users around the world are already using OLMO actively
          .col.col--2
            span.col__text-lg 65K
            span.col__text-sm Active downloads from the community
          .col.col--3
            span.col__text-lg 4.86
            +icon('stars', 88, 16)
            span.col__text-sm 8,376 Rating

