.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 35px;
  font-weight: 700;
  color: $color-default-black;
  border: none;
  cursor: pointer;
  background-color: $color-transparent;
  transition: opacity $trans-default;

  @include vp-1023 {
    padding: 6px 20px;
  }

  &--bordered {
    border: 3px solid $atomic-tangerine;
    border-radius: 5px;
  }

  &--colored {
    padding: 13px 35px;
    color: $color-default-white;
    background-color: $atomic-tangerine;
    border-radius: 5px;

    @include vp-1023 {
      padding: 8px 20px;
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}
