.card {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: $color-romance;
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 6px 5px 15px 4px $atomic-tangerine;

  @include vp-1023 {
    padding: 20px;
    box-shadow: 0 0 10px 1px $atomic-tangerine;
  }
}
