.custom-input {
  position: relative;
  width: 100%;
  display: flex;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input {
      flex-grow: 1;
      min-height: 43px;
      margin-left: auto;
      padding: 10px;

      border: 0.5px solid $atomic-tangerine;
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      outline: none;

      transition: border 0.3s ease;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover {
        border-color: $color-gun-powder;
      }

      &:focus {
        border-color: $color-gun-powder;
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }
}
