.form {
  display: flex;

  input {
    width: 100%;
  }

  .btn {
    padding: 10px 35px;
    font-size: 20px;
    font-weight: 400;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;

    @include vp-767 {
      font-size: 14px;
    }
  }
}
