.main-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 85px;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      display: none;
    }
  }

  &__item {
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }

    .btn {
      padding: 5px 20px;
    }
  }

  &__link {
    color: $color-default-black;
    position: relative;
    transition: opacity $trans-default;

    svg {
      position: absolute;
      top: 7px;
      right: -10px;
    }

    &.is-active {
      opacity: 0.7;
    }

    @include hover-focus {
      opacity: 0.7;
    }
  }
}

.main-nav__toggle {
  display: none;

  @include vp-1023 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 42px;
    height: 40px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $atomic-tangerine;
      top: 8px;
      left: 1px;
      border-radius: 2px;
      box-shadow: 0 9px 0 0 $atomic-tangerine, 0 18px 0 0 $atomic-tangerine;
    }
  }

  @include vp-767 {
    width: 28px;
    height: 24px;

    &::after {
      width: 28px;
      height: 2px;
      top: 5px;
      left: 0;
      box-shadow: 0 5px 0 0 $atomic-tangerine, 0 10px 0 0 $atomic-tangerine;
    }
  }
}
