.moments {
  .container {
    text-align: center;
  }

  &__img {
    width: 100%;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__link {
    position: relative;
    top: -30px;
  }

  .addition {
    margin: 0;
    span {
      font-weight: 700;
    }

    &__decor {
      padding: 0 5px;
    }
  }
}
