mixin footer(footerMods)
  -
    const footerData = [
      {
        title: 'Company',
        rows: [
          {row: 'About Us'},
          {row: 'Careers'},
          {row: 'Press & Media'},
          {row: 'Contact Us'}
        ]
      },
      {
        title: 'Discover',
        rows: [
          {row: 'Our Blog'},
          {row: 'Advertising'},
          {row: 'Plans & Pricing'},
          {row: 'Testimonials'}
        ]
      },
      {
        title: 'Legal',
        rows: [
          {row: 'Terms of Use'},
          {row: 'Privacy Policy'},
          {row: 'Cookie Policy'},
          {row: 'Site Map'}
        ]
      },
      {
        title: 'Support',
        rows: [
          {row: 'FAQs'},
          {row: 'Editor Help'},
          {row: 'Community'},
          {row: 'Live Chatting'}
        ]
      },
    ];

  -
    const socialData = [
      {
        icon: 'icon-fb',
      },
      {
        icon: 'icon-insta',
      },
      {
        icon: 'icon-tw',
      },
      {
        icon: 'icon-ln',
      },
      {
        icon: 'icon-ytube',
      },
      {
        icon: 'icon-pinterest',
      }
    ]

  footer.footer(class=footerMods)
    .footer__top
      .container.container--sm
        .col.col--1
          a.footer__logo(href="#")
            +icon("logo", 116, 40)
          p.text Aliquam nullam tempor sapien donec and gravida congue an ipsum porta justo velna auctor magna and laoreet augue an auctor gravida donec
          .app-btns
            a.app-btns__link.btn(href='#')
              +img('content', 'appStore', 'png', 131, 41)
            a.app-btns__link.btn(href='#')
              +img('content', 'googlePlay', 'png', 131, 41)
        .col.col--2
          ul.col__list
            each item in footerData
              li.col__item
                h3.title.title--sm= item.title
                each row in item.rows
                  a.footer__link.text(href='#')= row.row
          form.form(id="form-subscribe", action="", method="GET")
            +custom-input({
              inputType: 'email',
              inputName: 'subscribe',
              inputPlaceholder: 'Your email here...'
            })
            +btn({
              type: 'submit',
              text: 'subscribe'
            }).btn--colored
    .footer__bottom
      .container.container--sm
        p.text.footer__rights © 2010 - 2021 OLMO. All Rights Reserved
        ul.social
          each item in socialData
            li.social__item
              a.footer__link.social__icon(href="#")
                +icon(item.icon, 28, 28)
        .footer__contacts
          a.footer__link.footer__mail(href="mailto:hello@yourapp.com") Hello@yourapp.com
            +icon('icon-mail', 18, 18)
          a.footer__link.footer__tel(href="tel:+0000000000") +000 000 00 00
            +icon('icon-phone', 18, 18)





