//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/about
include ./blocks/card
include ./blocks/share
include ./blocks/chatting
include ./blocks/security
include ./blocks/automation
include ./blocks/pricing
include ./blocks/features
include ./blocks/favourite
include ./blocks/moments
include ./blocks/stories
include ./blocks/get-app
include ./blocks/users
include ./blocks/faq
include ./blocks/offer
//- Mixins

include ./mixins/btn
include ./mixins/search
include ./mixins/custom-input

